
<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6 ml-auto mr-auto d-flex justify-content-center">
        <div class="vuejs-expo">
          <a href="https://angularexpo.com/?ref=vuejsexpo" target="_blank" class="float-buttons ml-auto mr-auto mb-3">
            <img src="{{asset "img/logo/angular.png"}}" alt="anngularexpo">
          </a>
          <a href="https://angularexpo.com/?ref=vuejsexpo" target="_blank" class="text-float-buttons">
            Angular Expo
          </a>
        </div>
        <div class="made-with-react">
          <a href="https://madewithreact.com/?ref=vuejsexpo" target="_blank" class="float-buttons ml-auto mr-auto mb-3">
            <img src="{{asset "img/icon-react.png"}}" alt="madewithreact">
          </a>
          <a href="https://madewithreact.com/?ref=vuejsexpo" target="_blank" class="text-float-buttons">
            Made with React
          </a>
        </div>
      </div>
    </div>
    <div class="row pt-5 pl-5 pr-5 responsive-footer">
      <div class="col-md-3">
        <div class="d-flex">
          <img src="{{asset "img/icon-vue.png"}}" alt="vuejsexpo" class="footer-img">
          <h5 class="footer-title ml-1">{{@site.title}}</h5>
        </div>
        <p class="footer-text pr-3">
          {{@site.description}}
        </p>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">About us</h5>
        <ul class="nav flex-column list-unstyled">
          <li class="nav-item"><a href="{{@site.url}}/blog/">Blog</a></li>
          <li class="nav-item"><a href="{{@site.url}}/about/">About Us</a></li>
          <li class="nav-item"><a href="mailto:vuejsexpo@gmail.com" target="_blank" >Contact us</a></li>

        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">More success</h5>
        <ul class="nav flex-column list-unstyled">
          <li class="nav-item"><a href="{{@site.url}}/advertise/">Advertise</a></li>
          <li class="nav-item"><a href="https://docs.google.com/forms/d/1N8uHHdhPYbGfxSD4KAPq3GRDSDSGD332jspOKWOxAJo/" target="_blank">Submit product</a></li>
        </ul>
      </div>
      <div class="col-md-2">
        <h5 class="footer-title">Special Thanks</h5>
        <ul class="nav flex-column list-unstyled">
          <li class="nav-item"><a href="https://iradesign.io/?ref=vuejsexpo" target="_blank" >IRA Design</a></li>
          <li class="nav-item"><a href="https://www.creative-tim.com/templates/vuejs?partner=93321" target="_blank" >Creative Tim</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="footer-title">Useful Links</h5>
        <ul class="nav flex-column list-unstyled">
          <li class="nav-item"><a target="_blank" href="https://vuejs.org/">Official Website</a></li>
          <li class="nav-item"><a target="_blank" href="https://vuejs.org/v2/guide/installation.html">Official Documentation</a></li>
          <li class="nav-item"><a target="_blank" href="https://www.creative-tim.com/templates/vuejs/?partner=93321"  onClick="ga('send', 'event', 'Outbound', 'Footer', 'https://www.creative-tim.com/templates/vuejs/?partner=93321')">VueJS Templates</a></li>
          <li class="nav-item"><a target="_blank" href="https://github.com/expojs/vuejsexpo">Github Vuejsexpo</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="social-area ml-auto mr-auto">
      <ul class="footer-social ml-auto mr-auto justify-content-center">
        <li class="nav-item">
          <a href="https://github.com/expojs/vuejsexpo" target="_blank" class="nav-link"><i class="fab fa-github"></i></a>
        </li>
        <li class="nav-item">
          <a href="https://vuejsexpo.com/rss/" target="_blank" class="nav-link"><i class="fa fa-rss"></i></a>
        </li>
      </ul>
      <p class="text-center">Copyright © 2020 VueJSExpo. All Rights Reserved.</p>
    </div>

  </div>
</footer>
